<template>
    <q-footer bordered class="bg-grey-8 text-white">
        <q-toolbar>
            <q-toolbar-title>Psy</q-toolbar-title>
        </q-toolbar>
    </q-footer>
</template>

<script>
export default {};
</script>

<style>
</style>