<template>
    <q-page class="q-pa-md">
        <h5 class="q-mt-none q-mb-md text-weight-medium">
            {{ $route.name }}
        </h5>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto
            nostrum nemo minima ipsam quidem soluta deleniti. Odit numquam vero
            animi fugiat expedita deleniti tempore, nesciunt dolorum itaque esse
            modi laudantium?
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto
            nostrum nemo minima ipsam quidem soluta deleniti. Odit numquam vero
            animi fugiat expedita deleniti tempore, nesciunt dolorum itaque esse
            modi laudantium?
        </p>
    </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
    name: "PageSearch",
});
</script>
